<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">

 <div class="container mx-auto p-6">
  <header class="mb-8">
    <h1 class="text-3xl font-bold">People</h1>
  </header>

  <section class="mb-6">
    <ul class="list-disc list-inside">
      <% @people.each do |person| %>
        <li><%= link_to person['name'], person_path(person['url'].split('/').last), class: "text-blue-500 hover:underline" %></li>
      <% end %>
    </ul>
  </section>

<<<<<<< HEAD
    <!-- Pagination -->
    <div class="flex justify-between mt-6">
      <div class="flex-1">
        <% if @current_page > 1 %>
          <%= link_to 'Previous', people_path(page: @current_page - 1), class: "text-blue-500 hover:underline" %>
        <% end %>
      </div>
      <div class="flex-1 text-center">
        <% (1..@total_pages).each do |num| %>
          <%= link_to num, people_path(page: num), class: "mx-1 px-4 py-2 inline-block rounded-lg bg-white text-blue-500 hover:bg-blue-500 hover:text-white hover:shadow" %>
        <% end %>
      </div>
      <div class="flex-1 text-right">
        <% if @current_page < @total_pages %>
          <%= link_to 'Next', people_path(page: @current_page + 1), class: "text-blue-500 hover:underline" %>
        <% end %>
      </div>
    </div>

    <footer class="mt-8">
      <%= link_to 'Back to Home', root_path, class: "text-blue-500 hover:underline" %>
    </footer>
  </div>
=======
  <footer class="mt-8 flex justify-center">
    <%= paginate @people, theme: 'tailwind', params: { controller: 'people' } %>
  </footer>

  <footer class="mt-8 flex justify-center">
    <%= link_to 'Back to Home', root_path, class: "text-blue-500 hover:underline" %>
  </footer>
</div>
>>>>>>> cb73fbefc9a855f4f934ffc8d33b2516d6c141e8

</body>
</html>
