<h1><%= @person['name'] %></h1>
<p>Height: <%= @person['height'] %></p>
<p>Mass: <%= @person['mass'] %></p>
<p>Hair Color: <%= @person['hair_color'] %></p>
<p>Skin Color: <%= @person['skin_color'] %></p>
<p>Eye Color: <%= @person['eye_color'] %></p>
<p>Birth Year: <%= @person['birth_year'] %></p>
<p>Gender: <%= @person['gender'] %></p>

<%= link_to 'Back to People', people_path %> |
<%= link_to 'Back to Home', root_path %>