<h1><%= @planet['name'] %></h1>
<p>Climate: <%= @planet['climate'] %></p>
<p>Diameter: <%= @planet['diameter'] %></p>
<p>Gravity: <%= @planet['gravity'] %></p>
<p>Orbital Period: <%= @planet['orbital_period'] %></p>
<p>Population: <%= @planet['population'] %></p>
<p>Rotation Period: <%= @planet['rotation_period'] %></p>
<p>Surface Water: <%= @planet['surface_water'] %></p>
<p>Terrain: <%= @planet['terrain'] %></p>

<%= link_to 'Back to Planets', planets_path %> |
<%= link_to 'Back to Home', root_path %>