<h1>Star Wars Information</h1>
<ul>
  <li><%= link_to 'People', people_path %></li>
  <li><%= link_to 'Planets', planets_path %></li>
  <li><%= link_to 'Films', films_path %></li>
  <li><%= link_to 'Vehicles', vehicles_path %></li>
  <li><%= link_to 'Starships', starships_path %></li>
</ul>