<h1><%= @film['title'] %></h1>
<p>Director: <%= @film['director'] %></p>
<p>Producer: <%= @film['producer'] %></p>
<p>Release Date: <%= @film['release_date'] %></p>
<p>Opening Crawl: <%= @film['opening_crawl'] %></p>

<%= link_to 'Back to Films', films_path %> |
<%= link_to 'Back to Home', root_path %>