<h1><%= @vehicle['name'] %></h1>
<p>Model: <%= @vehicle['model'] %></p>
<p>Manufacturer: <%= @vehicle['manufacturer'] %></p>
<p>Cost in Credits: <%= @vehicle['cost_in_credits'] %></p>
<p>Length: <%= @vehicle['length'] %></p>
<p>Max Atmosphering Speed: <%= @vehicle['max_atmosphering_speed'] %></p>
<p>Crew: <%= @vehicle['crew'] %></p>
<p>Passengers: <%= @vehicle['passengers'] %></p>
<p>Cargo Capacity: <%= @vehicle['cargo_capacity'] %></p>
<p>Consumables: <%= @vehicle['consumables'] %></p>
<p>Vehicle Class: <%= @vehicle['vehicle_class'] %></p>

<%= link_to 'Back to Vehicles', vehicles_path %> |
<%= link_to 'Back to Home', root_path %>