<h1><%= @starship['name'] %></h1>
<p>Model: <%= @starship['model'] %></p>
<p>Manufacturer: <%= @starship['manufacturer'] %></p>
<p>Cost in Credits: <%= @starship['cost_in_credits'] %></p>
<p>Length: <%= @starship['length'] %></p>
<p>Max Atmosphering Speed: <%= @starship['max_atmosphering_speed'] %></p>
<p>Crew: <%= @starship['crew'] %></p>
<p>Passengers: <%= @starship['passengers'] %></p>
<p>Cargo Capacity: <%= @starship['cargo_capacity'] %></p>
<p>Consumables: <%= @starship['consumables'] %></p>
<p>Hyperdrive Rating: <%= @starship['hyperdrive_rating'] %></p>
<p>MGLT: <%= @starship['MGLT'] %></p>
<p>Starship Class: <%= @starship['starship_class'] %></p>

<%= link_to 'Back to Starships', starships_path %> |
<%= link_to 'Back to Home', root_path %>